@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body {
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-weight: normal;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  border: none;
}

legend {
  position: absolute;
  top: -9999;
  left: -9999;
  opacity: 0;
  visibility: hidden;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --white-color: #fff;
}

.container {
}

.container .header {
  background-color: var(--secondary-color);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.container .header .icon {
  color: var(--white-color);
}

.container .header .form {
}

.container .header .form input {
  border: 1px solid var(--white-color);
  padding: 12px 14px;
  border-radius: 20px;
  color: var(--white-color);
}

.container .header .form input::placeholder {
  font-size: 16px;
  color: var(--white-color);
}

.container .movies {
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
}

.container .movies.empty {
  display: grid;
  place-items: center;
  height: calc(100vh - 80px);
}

.container .movies.empty .movie-empty {
  color: var(--white-color);
  font-size: 24px;
}

.container .movies .movie {
  max-width: 300px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.container .movies .movie .movie-img {
}

.container .movies .movie .movie-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.container .movies .movie .movie-info .movie-title {
  color: var(--white-color);
  font-size: 18px;
  margin-right: 20px;
}

.container .movies .movie .movie-info .movie-average {
  background-color: var(--primary-color);
  color: sandybrown;
  padding: 10px;
  border-radius: 4px;
}

.container .movies .movie .movie-info .movie-average.row {
  color: tomato;
}

.container .movies .movie .movie-info .movie-average.high {
  color: springgreen;
}

.container .movies .movie .movie-overview {
  background-color: var(--white-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 32px;
  transform: translateY(101%);
  transition: transform 0.5s;
}

.container .movies .movie .movie-overview .movie-overview__title {
  margin-bottom: 16px;
}

.container .movies .movie:hover .movie-overview {
  transform: translateY(0);
}
