@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: blueviolet;
  display: grid;
  place-items: center;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

fieldset {
  border: none;
  position: relative;
}

legend {
  visibility: hidden;
  position: absolute;
}

.input {
  border: none;
  background-color: #fff;
  height: 48px;
  padding: 20px;
  font-size: 16px;
  outline: none;
  width: 48px;
  transition: width 0.4s;
}

.input.active {
  width: 240px;
}

.icon-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}

.icon-btn .icon {
  font-size: 30px;
}
